* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Ubuntu;
  background: #3b3b3b;
  color: #ffffff;
}

.expense-tracker {
  display: flex;
  flex-direction: column;
}

.expense-tracker-body {
  display: flex;
  flex-direction: column;
}

.summary-section {
  display: flex;
  justify-content: space-between;
}

.cards {
  display: flex;
  flex: 3;
}

.summary-chart {
  flex: 1;
}
.content-section {
  display: flex;
}
